<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/car.css"/>
	</head>
	<body>
		<div id="top">
			<div class="margin">
				<p>欢迎光临筑巢商城！</p>
				<div class="topright">
					
					<ul>
						<li>
							<a href="#">
								<span>用户中心</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span>在线反馈</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span>客服中心</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span>网站导航</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="header">
			<div class="margin">
				<a href="index.html" class="logo"><img src="img/logo.jpg" ></a>
				<div class="header-r">
					<div class=header-r-t>
						<a class="active">产品</a>
						<a >企业</a>
						<a >求购</a>
					</div>
					<p>
						<input type="text" name="" class="left" placeholder="请输入商品名称"/>
						<input type="submit" name="" class="right" value="搜索" />
					</p>
					<div class="serch">
						<span>热门搜索：</span>
						<a href="#">刀具</a>
						<a href="#">电子秤</a>
						<a href="#" >卡套式管接头</a>
						<a href="#">led灯电源</a>
						<a href="#">平面轴承</a>
						<a href="#">电机</a>
						<a href="#" >热风循环风箱</a>
					</div>
				</div>
			</div>
		</div>
		    <div id="car">
				<div class="margin">
					<div class="car-list">
						<h3>我的进货单</h3>
						<table border="1" cellspacing="0" width="1200" >
							<thead>
								<tr>
									<th>商品</th>
									<th>商品名</th>
									<th>价格</th>
									<th>数量</th>
									<th>删除</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><img src=""/></td>
									<td></td>
									<td></td>
									<td></td>
									<td><em>删除</em></td>
								</tr>
							</tbody>
						</table>
						<h2><a href="shop.html">继续购物</a></h2>
					</div>
				</div>
			</div>
			
			
			
			
			
			
			
			
			
			<div id="footer">
				<div class="footer-main clear">
					<div class="footer-l clear">
						<dl>
							<dt>
								采购商入门
							</dt>
							<dd>
								<a href="#">发布询价单</a>
							</dd>
							<dd>
								<a href="#">查找商品</a>
							</dd>
							<dd>
								<a href="#">提交订单</a>
							</dd>
							<dd>
								<a href="#">在线支付</a>
							</dd>
							<dd>
								<a href="#">查看订单状态</a>
							</dd>
						</dl>
						<dl>
							<dt>
								采购商入门
							</dt>
							<dd>
								<a href="#">发布询价单</a>
							</dd>
							<dd>
								<a href="#">查找商品</a>
							</dd>
							<dd>
								<a href="#">提交订单</a>
							</dd>
							<dd>
								<a href="#">在线支付</a>
							</dd>
							<dd>
								<a href="#">查看订单状态</a>
							</dd>
						</dl>
						<dl>
							<dt>
								采购商入门
							</dt>
							<dd>
								<a href="#">发布询价单</a>
							</dd>
							<dd>
								<a href="#">查找商品</a>
							</dd>
							<dd>
								<a href="#">提交订单</a>
							</dd>
							<dd>
								<a href="#">在线支付</a>
							</dd>
							<dd>
								<a href="#">查看订单状态</a>
							</dd>
						</dl>
						<dl>
							<dt>
								采购商入门
							</dt>
							<dd>
								<a href="#">发布询价单</a>
							</dd>
							<dd>
								<a href="#">查找商品</a>
							</dd>
							<dd>
								<a href="#">提交订单</a>
							</dd>
							<dd>
								<a href="#">在线支付</a>
							</dd>
							<dd>
								<a href="#">查看订单状态</a>
							</dd>
						</dl>
					</div>
					<div class="footer-r">
						<b>全球客服热线：</b>
						<h3>400-878-0519</h3>
						<p>投诉反馈：luoch@nestcms.com</p>
					</div>
				</div>
				<div class="footer-icp">
					<p>
						<a href="#">关于我们</a>
						<span>|</span>
						<a href="#">联系我们</a>
						<span>|</span>
						<a href="#">网站地图</a>
						<span>|</span>
						<a href="#">运营中心</a>
					</p>
					<p>
						<a href="">ICP备案号：苏ICP备14028045号-1</a> 
						<a href="">经营许可证：苏B1-20140134</a>
						<a href="">苏公网安备 32041102000108号</a>
						<span>|</span>
						<a href="">企业营业执照</a>
					</p>
					<p>
						Copyright ©2009-2019     筑巢软件（江苏）有限公司版权所有
					</p>
					<ul class="clear">
						<li>
							<img src="img/footer1.jpg" >
						</li>
						<li>
							<img src="img/footer2.jpg" >
						</li>
						<li>
							<img src="img/footer3.jpg" >
						</li>
						<li>
							<img src="img/footer4.jpg" >
						</li>
						<li>
							<img src="img/footer5.jpg" >
						</li>
					</ul>
				</div>
			</div>
	</body>
	<script src="libs/jquery.js" type="text/javascript" charset="utf-8"></script>
	<!-- <script src="libs/jquery.cookie.js" type="text/javascript" charset="utf-8"></script> -->
	<script src="js/cookie.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/car.js" type="text/javascript" charset="utf-8"></script>
</html>
