<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/project.css"/>
		<link rel="stylesheet" type="text/css" href="css/iconfont.css"/>
	</head>
	<body>
		<div id="gotop">
			<img src="img/calltop.png" >
		</div>
		<div id="top">
			<div class="margin clear">
				<div class="top-l">
					<img src="img/logopro.jpg"/>
					<span>欢迎您，请先登录</span>
					<a href="reg.html">[免费注册]</a>
					<a href="login.html">[请登录]</a>
					<a href="#">会员中心</a>
					<a href="car.html">收藏夹</a>
				</div>
				<div class="top-r">
					<input type="text" name="" class="txt" placeholder="请输入搜索内容" />
					<input type="submit" name="" class="sbt" value="搜本商铺" />
					<input type="button" name="" class="btn" value="搜全站" />
				</div>
			</div>
		</div>
		<div id="banner">
			<div class="margin clear">
				<div class="banner-l">
					<h3>美邦电机工厂直营店</h3>
				</div>
				<div class="banner-r">
					<i>
						工厂直营店
					</i>
					<span class="iconfont icon-social-qq busi">咨询商家</span>
					<em>由<a href="#">立刻搜索</a>负责该店铺运营</em>
				</div>
			</div>
		</div>
		<div id="nav">
			<div class="margin">
				<ul class="clear">
					<li><a href="index.html">首页</a></li>
					<li class="active">
						<a href="#">供应产品</a>
						    <div class="cai">
						   	<ul>
						   		<li><a href="#">所有产品</a></li>
						   		<li><a href="#">YX3YE2铁壳</a></li>
						   		<li><a href="#">YS铝壳三相异步</a></li>
						   		<li><a href="#">YB3隔爆三相异</a></li>
						   		<li><a href="#">ME2铁壳三相异</a></li>
						   		<li><a href="#">YVF铁壳变频异</a></li>
						   		<li><a href="#">YG变极多速三相</a></li>
						   		<li><a href="#">电磁制动三相异步</a></li>
						   		<li><a href="#">单向铝壳异步制动</a></li>
						   	</ul>
						   </div>
						   						
					</li>
					<li><a href="#">公司动态</a></li>
					<li><a href="#">公司档案</a></li>
					<li><a href="#">在线询价</a></li>
					<li><a href="#">运营中心</a></li>
				</ul>
			</div>
		</div>
		<div class="main">
		    <div class="margin">
				<!-- 抬头 -->
				<div class="navigation">
					<a href="#">首页 </a>>
					<a href="#"> YS铝壳三相异步电动机 </a>>
					<span>美邦 YS系列铝壳三相YS561-2异步电动机 用于各种电机设备 低噪声</span>
				</div>
			</div>
		</div>
				<!-- 详情介绍（放大镜） -->
		<div id="bimg">
			<div class="margin clear">		
							<div class="details">
								<!-- 左侧 -->
								<!-- 放大镜扩大效果 -->
								<div class="big">
									<!-- <img src="img/jq1.jpg" > -->
								</div>
								
								<!-- 原始效果 -->
								<div class="details-img">
									<div class="img">
										
									</div>
									<div class="small-img">
										<ul class="clear">
											<li class="active"><img src="img/jq1.jpg" ></li>
											<li><img src="img/jq2.jpg" ></li>
											<li><img src="img/jq3.jpg" ></li>
											<li><img src="img/jq4.jpg" ></li>
										</ul>
									</div>
								</div>
			                </div>
								
							
							<div class="ccc">
								<div class="ccc-name">
									美邦 YS系列铝壳三相YS561-2异步电动机 用于各种电机设备 低噪声
								</div>
								<div class="b34">
									B34 价格加3%，B35 价格加5%
								</div>
								<ul class="clear">
									<li class="zhi">起批量</li>
									<li>1-19个</li>
									<li>20-99个</li>
									<li>≥100个</li>
									<li class="zhi">价格</li>
									<li class="te">￥143.00</li>
									<li class="te">￥140.20</li>
									<li class="te">￥135.90</li>
								</ul>
								<div class="exp">
									<p>
										<span>货号说明</span>
										<a href="#">YS-2</a>
									</p>
									<p>
										<span>优惠说明</span>
										<a href="#" class="red">厂家直销，渠道最低价，满20台98折，满100台95折</a>
									</p>
									<p>
										<span>运费说明</span>
										<a href="#">运费请咨询在线客服</a>
									</p>
									<p>
										<span>支付方式</span>
										<a href="#">支付宝&nbsp;&nbsp;银联</a>
									</p>
								</div>
								<div class="kucun">
									<span>数量</span>
									<a class="jian">-</a><input type="text"  id="jjys" value="1" /><a class="jia">+</a>&nbsp;个(库存999个)
									
								</div>
								<div class="warning">
									<h3>当前商品最少购买1件</h3>
								</div>
								<div class="add">
									<a href="#" class="go">立即订购</a>
									<a href="#" class="out">加入进货单</a>
								</div>
							</div>
							
							<div class="main-l">
								<div class="main-l-one">
									供应商信息
								</div>
								<div class="main-l-two">
									<div class="tongpai">
										筑巢合作铜牌供应商
									</div>
									<div class="main-l-xiangqing">
										<i>店铺名称：</i><span>美邦电机工厂直营店</span></br>
										<i>供应商等级：</i><span>五星级</span></br>
										<i>在线客服：</i><span>在线时间为（8:00-18:00）</span></br>
										<i>经营模式：</i><span>生产厂家</span></br>
										<i>供应商：</i><span>加速美邦电机科技有限公司</span></br>
										<i>所在地区：</i><span>江苏省常州市</span></br>
									</div>
									<div class="saomiao clear">
										<img src="img/zhixiang.png" class="img1">
										<img src="img/erweima.jpg" class="img2">
									</div>
								</div>											
	</div>
	</div>
	
	<div id="intro">
		<div class="margin clear">
			<div class="crux">
				<div class="main-l-three">
					<div class="three-t">
						产品搜索
					</div>
					<div class="three-b clear">
						<input type="text" name="" class="txt" value="" />
						<input type="submit" name="" class="sbt" value="搜索" />
					</div>
				</div>
				<div class="main-l-fore">
					<div class="lib">
						分类列表
					</div>
					<div class="lib2">
						<ul>
							<li><a href="#">所有产品</a></li>
							<li><a href="#">YX3YE2铁壳</a></li>
							<li><a href="#">YS铝壳三相异步</a></li>
							<li><a href="#">YB3隔爆三相异</a></li>
							<li><a href="#">ME2铁壳三相异</a></li>
							<li><a href="#">YVF铁壳变频异</a></li>
							<li><a href="#">YG变极多速三相</a></li>
							<li><a href="#">电磁制动三相异步</a></li>
							<li><a href="#">单向铝壳异步制动</a></li>
						</ul>
					</div>
				</div>
				<div class="main-l-five">
					<div class="volume">
						销量排行
					</div>
					<div class="sales clear">
						<ul>
							<li class="clear">
								<img src="img/sales.jpg" >
								<div class="sales-r">
									<a href="#">美邦 YB3系列隔爆型三相YB3 8</a>
									<p>￥390.45/个</p>
								</div>
							</li>
								<li class="clear">
								<img src="img/sales.jpg" >
								<div class="sales-r">
									<a href="#">美邦 YB3系列隔爆型三相YB3 8</a>
									<p>￥390.45/个</p>
								</div>
							</li>
								<li class="clear">
								<img src="img/sales.jpg" >
								<div class="sales-r">
									<a href="#">美邦 YB3系列隔爆型三相YB3 8</a>
									<p>￥390.45/个</p>
								</div>
							</li>
								<li class="clear">
								<img src="img/sales.jpg" >
								<div class="sales-r">
									<a href="#">美邦 YB3系列隔爆型三相YB3 8</a>
									<p>￥390.45/个</p>
								</div>
							</li>
								<li class="clear">
								<img src="img/sales.jpg" >
								<div class="sales-r">
									<a href="#">美邦 YB3系列隔爆型三相YB3 8</a>
									<p>￥390.45/个</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			
			<div class="product">
				<div class="product-t">
					产品介绍
				</div>
				<div class="product-b">
					<div class="model">
						<table border="0" cellspacing="" cellpadding="">
							<tr>
								<td class="te">型号</td>
								<td>YS561-2</td>
								<td class="te">极数</td>
								<td>2级</td>
								<td class="te">额定功率</td>
								<td>0.09kw</td>
							</tr>
							<tr>
								<td class="te">型号</td>
								<td>YS561-2</td>
								<td class="te">极数</td>
								<td>2级</td>
								<td class="te">额定功率</td>
								<td>0.09kw</td>
							</tr>
							<tr>
								<td class="te">型号</td>
								<td>YS561-2</td>
								<td class="te">极数</td>
								<td>2级</td>
								<td class="te">额定功率</td>
								<td>0.09kw</td>
							</tr>
							<tr>
								<td class="te">型号</td>
								<td>YS561-2</td>
								<td class="te">极数</td>
								<td>2级</td>
								<td class="te">额定功率</td>
								<td>0.09kw</td>
							</tr>
						</table>
					</div>
					<div class="dt">
						<ul>
							<li><img src="img/dt1.jpg" ></li>
							<li><img src="img/dt2.jpg" ></li>
							<li><img src="img/dt3.jpg" ></li>
							<li><img src="img/dt4.jpg" ></li>
							<li><img src="img/dt5.jpg" ></li>
							<li><img src="img/dt6.jpg" ></li>
							<li><img src="img/dt7.jpg" ></li>
						</ul>
					</div>
					<div class="promise clear">
						<label style="color: red;">服务承诺:</label>
						<span>筑巢电商为平台服务提供方及运营监督商，负责买卖流程监督及交易过程中的资金担保工作，若商家发生违约或不诚信行为，筑 巢专业客服可按照规则为买家提供解决方案。所有在线交易的产品均是正规厂家销售，筑巢为您提供具有竞争力的产品价格和运 费政策，请您放心购买！</span></br>
						<label >权利说明:</label>
						<span>筑巢电商平台上的所有商品信息是筑巢商城的重要经营来源，未经许可，禁止非法转载使用。</span>
						<p><a href="#" style="color: red;">注：</a>&nbsp;本站商品信息均来自于供应商/厂商，其真实性、准确性和合法性由信息拥有者负责。本站不承担法律责任。</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="margin">
			<div class="footer-t clear">
				<dl>
					<dt>商城保障</dt>
					<dd>品质保障</dd>
					<dd>交易担保</dd>
					<dd>提供发票</dd>
				</dl>
				<dl>
					<dt>商城保障</dt>
					<dd>品质保障</dd>
					<dd>交易担保</dd>
					<dd>提供发票</dd>
				</dl>
				<dl>
					<dt>商城保障</dt>
					<dd>品质保障</dd>
					<dd>交易担保</dd>
					<dd>提供发票</dd>
				</dl>
				<dl>
					<dt>商城保障</dt>
					<dd>品质保障</dd>
					<dd>交易担保</dd>
					<dd>提供发票</dd>
				</dl>
			</div>
			
			
			
			<div class="footer-b">
				<p>
					<a href="#">首页</a><span>|</span>
					<a href="#">供应商</a><span>|</span>
					<a href="#">采购中心</a><span>|</span>
					<a href="#">电商学院</a><span>|</span>
					<a href="#">网站地图</a>
				</p>
				<p>ICP备案号：苏ICP备14028045号-1  经营许可证：苏B2-20140019</p>
				<p>Copyright ©2009-2014 筑巢软件（江苏）有限公司版权所有</p>
			</div>
		</div>
	</div>
				
				
								
		
	</body>
	
	<script src="libs/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/nav.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/cookie.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/xqxr.js" type="text/javascript" charset="utf-8"></script>
	<!-- <script src="../server/js/bigimg.js" type="text/javascript" charset="utf-8"></script> -->
	<script src="js/bigimg2.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/project-1.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">   
	
		$(".out").on("click",function(){
			setCookie("goods",getCookie("promise"))
			location.href="car.html"
		})
	</script>
</html>
